<div class="movie-grid">
  <ng-container *ngIf="movies.length > 0; else noMovies">
    <div
      class="movie-card"
      *ngFor="let movie of movies"
      (click)="goToMovieDetails(movie)"
    >
      <mat-card>
        <img
          mat-card-image
          [src]="movie.image"
          alt="{{ movie.title }}"
          loading="lazy"
          [class.loaded]="!loadingList"
        />
        <div class="info">
          <span class="badge">{{ movie.release_date | date : "yyyy" }}</span>
          <span class="badge rating">
            ⭐ {{ movie.vote_average | number : "1.1-1" }}
          </span>
        </div>
        <mat-card-content>
          <h3>{{ movie.title }}</h3>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>

  <ng-template #noMovies>
    <h3 class="nothing" *ngIf="!loadingList">
      Não foi encontrado nenhum filme popular!
    </h3>
  </ng-template>
</div>
